/* fonts family */
.open-sans{
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
      "width" 100;
  }
  /* shared styles */
  .opacity-text{
    opacity: 0.6;
  }
  .secondary-bg{
    background-color: #FFF8F3;
  }
  .btn-primary{
    font-size: 20px;
    font-weight: 700;
    color: white;
    border-radius: 5px;
    background-color:#116D6E;
    border: none;
    width: 150px;
height: 64px;
  }
  .header{
    background-image: url(/images/developer.png), url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;

  }
    /* nav styles */
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px 0 200px;
  }
.nav-title{
    font-size: 45px;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
nav ul li{
    list-style-type: none;
    font-size: 20px;
}
nav li a{
    text-decoration: none;
    color: rgb(71, 71, 71);
}
/* text styles */
.text-red{
    color: #116D6E;
    font-size: 80px;
}
/* Banner style here */
.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-subtitle{
  font-size: 45px;
  font-weight: 600px;
}
.banner-title{
  font-size: 80px;
}
.banner-content{
  width: 585px;
margin-left: 220px;
}
.discription{
  opacity: 0.6;
  width: 500px;
  height: 86px;
}
.banner-image{
  width:584px;
  height: 698px;
  padding-right: 50px;
}
.box{
  position: relative;
}
.btn-one{
  top: -500px;
}
main{
  max-width: 1140px;
  margin: 0 auto;

}
.about{
  margin-top: 130px;
  text-align: center;
  border-radius: 10px;
  padding: 130px 150px;
}
.about-items{
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}
.skills-container{
  display: flex;
  gap: 24px;
}
.text-align{
  text-align: center;
}
.skill{
  padding: 30px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}
.skills{
  margin-top: 130px;
  margin-bottom: 50px;
}
.resume-container{
  display: flex;
  gap:24px;
}
.resume-title{
  font-size: 35px;
}
.experience-title{
  font-size: 20px;
}
.resume-column-title{
  font-size: 25px;
}
.resume-download-cv{
  padding: 50px;
}
/* footer styles */
footer{
  padding: 130px 230px;
}
.footer-container{
  display: flex;
  gap: 100px;
}
.footer-column{
  width: 50%;
}
footer input[type="text"]{
  width: 461px;
  height: 54px;
  margin-bottom: 20px;
  font-size: 18px;
  padding: 5px;
  border: none;
}
footer input[type="email"]{
  width: 461px;
  height: 54px;
  margin-bottom: 20px;
  padding: 5px;
  font-size: 18px;
  border: none;
}
footer textarea{
  width: 461px;
height: 180px;
border: none;
font-size: 20px;
padding: 5px;
margin-bottom: 10px;
}